*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root_4e43e8 {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #f0f0f0;
}

.component_130d3e {
	min-height: 40px;
	font-size: 18px;
	padding: 12px 8px;
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid rgba(141, 141, 141);
}

.component_130d3e:hover {
	transition: all 0.3s;
	background-color: rgba(141, 141, 141, 0.7);
}

.component_130d3e:active {
	background-color: rgba(141, 141, 141, 0.85);
}

.component_028749 {
	display: flex;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
}

.select_028749 {
	text-overflow: ellipsis;
	font-size: 18px;
	min-height: 40px;
	max-width: 120px;
}

.stats_87590a {
	display: grid;
	justify-content: end;
	align-self: end;
	grid-template-columns: repeat(4, max-content);
	text-transform: uppercase;
}

.stats_87590a div {
	padding: 0 10px;
	border-right: 1px solid black;
}

.stats_87590a div:last-child {
	border-right: none;
}

.app_93070a {
	position: relative;
}

.canvas_93070a {
	overflow: hidden;
	max-height: 100vh;
}

.controls_93070a {
	padding: 24px 18px;
	border: 1px solid black;
	border-radius: 4px;
	top: 60px;
	left: 20px;
	max-width: 300px;
	position: absolute;
	background-color: rgb(32, 178, 170, 0.8);
	display: grid;
	grid-gap: 24px;
	transition: all ease-in-out 0.3s;
}

.dropdownButton_93070a {
	cursor: pointer;
	text-transform: uppercase;
	text-align: right;
}

.full_93070a {
	height: auto;
}

.minimal_93070a {
	height: 20px;
	overflow: hidden;
}

.stats_93070a {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid black;
	background-color: rgb(60, 238, 229, 0.7);
}

@media (max-width: 991px) {
	.controls_93070a {
		overflow: scroll;
		max-height: 300px;
	}
}

.explanationButton_4c7ee7 {
	text-align: center;
	line-height: 56px;
	cursor: pointer;
	position: absolute;
	width: 56px;
	height: 56px;
	bottom: 20px;
	left: 20px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 50px;
	background-color: rgb(60, 238, 229, 0.7);
}

.explanationContent_4c7ee7 {
	background-color: rgb(60, 238, 229);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 600px;
	border: 1px solid black;
	padding: 20px 16px;
	padding-top: 64px;
	overflow: scroll;
}

.close_4c7ee7 {
	border: 1px solid black;
	font-size: 24px;
	position: absolute;
	cursor: pointer;
	top: 8px;
	right: 8px;
	padding: 12px;
}

.title_4c7ee7 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.subtitle_4c7ee7 {
	font-style: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.description_4c7ee7 {
	margin-bottom: 12px;
}

.rules_4c7ee7 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 12px;
}

.example_4c7ee7 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

@media (max-width: 991px) {
	.explanationContent_4c7ee7 {
		width: 100%;
		height: 100%;
	}
}

*,
body {
	margin: 0;
	padding: 0;
}

/*# sourceMappingURL=index.b537d740.css.map */
