.explanationButton {
	text-align: center;
	line-height: 56px;
	cursor: pointer;
	position: absolute;
	width: 56px;
	height: 56px;
	bottom: 20px;
	left: 20px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 50px;
	background-color: rgb(60, 238, 229, 0.7);
}

.explanationContent {
	background-color: rgb(60, 238, 229);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 600px;
	border: 1px solid black;
	padding: 20px 16px;
	padding-top: 64px;
	overflow: scroll;
}

.close {
	border: 1px solid black;
	font-size: 24px;
	position: absolute;
	cursor: pointer;
	top: 8px;
	right: 8px;
	padding: 12px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 24px;
}

.subtitle {
	font-style: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.description {
	margin-bottom: 12px;
}

.rules {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 12px;
}

.example {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
