* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
	padding: 0 24px;
}
.canvas {
	display: block;
	align-items: center;
	border: 1px solid black;
	overflow: scroll;
}

.playArea {
	justify-content: center;
	display: grid;
	margin: 4px 0;
	grid-gap: 4px;
}

.controls {
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 24px;
}

.stats {
	display: grid;
	justify-content: end;
	align-self: end;
	grid-template-columns: repeat(4, max-content);
	margin-bottom: 12px;
	text-transform: uppercase;
}

.stats div {
	padding: 0 10px;
	border-right: 1px solid black;
}
.stats div:first-child {
	border-left: 1px solid black;
}

.selectField {
	display: flex;
	font-size: 18px;
}

.select {
	min-width: 100px;
}
